---
layout: mainlayout.njk
title: Letters
action: '<div class="dropdown mt-3">
    <button id="toggleTransiliterationBTN" type="button" class="btn btn-secondary"
        onclick="hideTransiliteration()">
        Hide Transliteration
    </button>

</div>
<div class="dropdown mt-3">
    <button type="button" class="btn btn-secondary" onclick="randomizeLetters()">
        Randomize
    </button>
</div>'
---


<div class="container">
    <div class="row">
        <div class="col-4">
            <a href="javascript:playSound('https://www.madinaharabic.com/Audios/L000/L000_005.mp3');"><span
                    class="arabic-letter">أ</span></a><br /><span class="transliteration">/Alif/un/</span><br /><span
                class="latin-letter">a</span>
        </div>
        <div class="col-4">
            <a href="javascript:playSound('https://www.madinaharabic.com/Audios/L000/L000_004.mp3');"><span
                    class="arabic-letter">ب</span></a><br /><span class="transliteration">/Bā’/un/</span><br /><span
                class="latin-letter">B</span>
        </div>
        <div class="col-4">
            <a href="javascript:playSound('https://www.madinaharabic.com/Audios/L000/L000_003.mp3');"><span
                    class="arabic-letter">ت</span></a><br /><span class="transliteration">/Tā’/un/</span><br /><span
                class="latin-letter">T</span>
        </div>
        <div class="col-4">
            <a href="javascript:playSound('https://www.madinaharabic.com/Audios/L000/L000_002.mp3');"><span
                    class="arabic-letter">ث</span></a><br /><span class="transliteration">/Thā’/un/</span><br /><span
                class="latin-letter">Th</span>
        </div>
        <div class="col-4">
            <a href="javascript:playSound('https://www.madinaharabic.com/Audios/L000/L000_001.mp3');"><span
                    class="arabic-letter">ج</span></a><br /><span class="transliteration">/dʒīm/un/</span><br /><span
                class="latin-letter">J</span>
        </div>
        <div class="col-4">
            <a href="javascript:playSound('https://www.madinaharabic.com/Audios/L000/L000_010.mp3');"><span
                    class="arabic-letter">ح</span></a><br /><span class="transliteration">/ħā’/un/</span><br /><span
                class="latin-letter">h</span>
        </div>

        <div class="col-4">
            <a href="javascript:playSound('https://www.madinaharabic.com/Audios/L000/L000_009.mp3');"><span
                    class="arabic-letter">خ</span></a><br /><span class="transliteration">/Khâ’/un/</span><br /><span
                class="latin-letter">Kh</span>
        </div>
        <div class="col-4">
            <a href="javascript:playSound('https://www.madinaharabic.com/Audios/L000/L000_008.mp3');"><span
                    class="arabic-letter">د</span></a><br /><span class="transliteration">/Dāl/un/</span><br /><span
                class="latin-letter">D</span>
        </div>
        <div class="col-4">
            <a href="javascript:playSound('https://www.madinaharabic.com/Audios/L000/L000_007.mp3');"><span
                    class="arabic-letter">ذ</span></a><br /><span class="transliteration">/Dhāl/un/</span><br /><span
                class="latin-letter">Dh</span>
        </div>

        <div class="col-4">
            <a href="javascript:playSound('https://www.madinaharabic.com/Audios/L000/L000_006.mp3');"><span
                    class="arabic-letter">ر</span></a><br /><span class="transliteration">/Râ’/un/</span><br /><span
                class="latin-letter">R</span>
        </div>
        <div class="col-4">
            <a href="javascript:playSound('https://www.madinaharabic.com/Audios/L000/L000_015.mp3');"><span
                    class="arabic-letter">ز</span></a><br /><span class="transliteration">/Zāy/un/</span><br /><span
                class="latin-letter">Z</span>
        </div>
        <div class="col-4">
            <a href="javascript:playSound('https://www.madinaharabic.com/Audios/L000/L000_014.mp3');"><span
                    class="arabic-letter">س</span></a><br /><span class="transliteration">/Sīn/un/</span><br /><span
                class="latin-letter">S</span>
        </div>

        <div class="col-4">
            <a href="javascript:playSound('https://www.madinaharabic.com/Audios/L000/L000_013.mp3');"><span
                    class="arabic-letter">ش</span></a><br /><span class="transliteration">/Shīn/un/</span><br /><span
                class="latin-letter">Sh</span>
        </div>
        <div class="col-4">
            <a href="javascript:playSound('https://www.madinaharabic.com/Audios/L000/L000_012.mp3');"><span
                    class="arabic-letter">ص</span></a><br /><span class="transliteration">/ŝâd/un/</span><br /><span
                class="latin-letter">S</span>
        </div>
        <div class="col-4">
            <a href="javascript:playSound('https://www.madinaharabic.com/Audios/L000/L000_011.mp3');"><span
                    class="arabic-letter">ض</span></a><br /><span class="transliteration">/ḍâd/un/</span><br /><span
                class="latin-letter">D</span>
        </div>
        <div class="col-4">
            <a href="javascript:playSound('https://www.madinaharabic.com/Audios/L000/L000_020.mp3');"><span
                    class="arabic-letter">ط</span></a><br /><span class="transliteration">/ṱâ’/un/</span><br /><span
                class="latin-letter">T</span>
        </div>
        <div class="col-4">
            <a href="javascript:playSound('https://www.madinaharabic.com/Audios/L000/L000_019.mp3');"><span
                    class="arabic-letter">ظ</span></a><br /><span class="transliteration">/ḍhâ’/un/</span><br /><span
                class="latin-letter">Z</span>
        </div>
        <div class="col-4">
            <a href="javascript:playSound('https://www.madinaharabic.com/Audios/L000/L000_018.mp3');"><span
                    class="arabic-letter">ع</span></a><br /><span class="transliteration">/ξayn/un/</span><br /><span
                class="latin-letter">`</span>
        </div>
        <div class="col-4">
            <a href="javascript:playSound('https://www.madinaharabic.com/Audios/L000/L000_017.mp3');"><span
                    class="arabic-letter">غ</span></a><br /><span class="transliteration">/Ghayn/un/</span><br /><span
                class="latin-letter">Gh</span>
        </div>
        <div class="col-4">
            <a href="javascript:playSound('https://www.madinaharabic.com/Audios/L000/L000_016.mp3');"><span
                    class="arabic-letter">ف</span></a><br /><span class="transliteration">/Fā’/un/</span><br /><span
                class="latin-letter">F</span>
        </div>
        <div class="col-4">
            <a href="javascript:playSound('https://www.madinaharabic.com/Audios/L000/L000_025.mp3');"><span
                    class="arabic-letter">ق</span></a><br /><span class="transliteration">/Qâf/un/</span><br /><span
                class="latin-letter">q</span>
        </div>
        <div class="col-4">
            <a href="javascript:playSound('https://www.madinaharabic.com/Audios/L000/L000_024.mp3');"><span
                    class="arabic-letter">ك</span></a><br /><span class="transliteration">/Kāf/un/</span><br /><span
                class="latin-letter">K</span>
        </div>
        <div class="col-4">
            <a href="javascript:playSound('https://www.madinaharabic.com/Audios/L000/L000_023.mp3');"><span
                    class="arabic-letter">ل</span></a><br /><span class="transliteration">/Lām/un/</span><br /><span
                class="latin-letter">L</span>
        </div>
        <div class="col-4">
            <a href="javascript:playSound('https://www.madinaharabic.com/Audios/L000/L000_022.mp3');"><span
                    class="arabic-letter">م</span></a><br /><span class="transliteration">/Mīm/un/</span><br /><span
                class="latin-letter">M</span>
        </div>
        <div class="col-4">
            <a href="javascript:playSound('https://www.madinaharabic.com/Audios/L000/L000_021.mp3');"><span
                    class="arabic-letter">ن</span></a><br /><span class="transliteration">/Nūn/un/</span><br /><span
                class="latin-letter">N</span>
        </div>
        <div class="col-4">
            <a href="javascript:playSound('https://www.madinaharabic.com/Audios/L000/L000_028.mp3');"><span
                    class="arabic-letter">هـ</span></a><br /><span class="transliteration">/Hā’/un/</span><br /><span
                class="latin-letter">h</span>
        </div>
        <div class="col-4">
            <a href="javascript:playSound('https://www.madinaharabic.com/Audios/L000/L000_027.mp3');"><span
                    class="arabic-letter">و</span></a><br /><span class="transliteration">/Wāw/un/</span><br /><span
                class="latin-letter">w</span>
        </div>
        <div class="col-4">
            <a href="javascript:playSound('https://www.madinaharabic.com/Audios/L000/L000_026.mp3');"><span
                    class="arabic-letter">ي</span></a><br /><span class="transliteration">/Yā’/un/</span><br /><span
                class="latin-letter">Y</span>
        </div>
    </div>
</div>
