---
layout: mainlayout.njk
title: Short Vowel Marks - kasrah
action: '<div class="dropdown mt-3">
    <button id="toggleTransiliterationBTN" type="button" class="btn btn-secondary" onclick="hideTransiliteration()">
        Hide Transliteration
    </button>

</div>
<div class="dropdown mt-3">
    <button type="button" class="btn btn-secondary" onclick="randomizeLetters()">
        Randomize
    </button>
</div>'
---

<div class="container">
    <div class="row">

        <div class="col-4">
            <p class="LessonTableP"><a
                    href="javascript:playSound('https://www.madinaharabic.com/Audios/L000/L000_064.mp3');"><span
                        class="a-22-black-b arabic-letter" dir="rtl"><span>إِ</span></span></a></p>
        </div>
        <div class="col-4">
            <p class="LessonTableP"><a
                    href="javascript:playSound('https://www.madinaharabic.com/Audios/L000/L000_063.mp3');"><span
                        class="a-22-black-b arabic-letter" dir="rtl"><span>بِ</span></span></a></p>
        </div>
        <div class="col-4">
            <p class="LessonTableP"><a
                    href="javascript:playSound('https://www.madinaharabic.com/Audios/L000/L000_062.mp3');"><span
                        class="a-22-black-b arabic-letter" dir="rtl"><span>تِ</span></span></a></p>
        </div>
        <div class="col-4">
            <p class="LessonTableP"><a
                    href="javascript:playSound('https://www.madinaharabic.com/Audios/L000/L000_061.mp3');"><span
                        class="a-22-black-b arabic-letter" dir="rtl"><span>ثِ</span></span></a></p>
        </div>
        <div class="col-4">
            <p class="LessonTableP"><a
                    href="javascript:playSound('https://www.madinaharabic.com/Audios/L000/L000_060.mp3');"><span
                        class="a-22-black-b arabic-letter" dir="rtl"><span>جِ</span></span></a></p>
        </div>
        <div class="col-4">
            <p class="LessonTableP"><a
                    href="javascript:playSound('https://www.madinaharabic.com/Audios/L000/L000_069.mp3');"><span
                        class="a-22-black-b arabic-letter" dir="rtl"><span>حِ</span></span></a></p>
        </div>
        <div class="col-4">
            <p class="LessonTableP"><a
                    href="javascript:playSound('https://www.madinaharabic.com/Audios/L000/L000_068.mp3');"><span
                        class="a-22-black-b arabic-letter" dir="rtl"><span>خِ</span></span></a></p>
        </div>
        <div class="col-4">
            <p class="LessonTableP"><a
                    href="javascript:playSound('https://www.madinaharabic.com/Audios/L000/L000_067.mp3');"><span
                        class="a-22-black-b arabic-letter" dir="rtl"><span>دِ</span></span></a></p>
        </div>
        <div class="col-4">
            <p class="LessonTableP"><a
                    href="javascript:playSound('https://www.madinaharabic.com/Audios/L000/L000_066.mp3');"><span
                        class="a-22-black-b arabic-letter" dir="rtl"><span>ذِ</span></span></a></p>
        </div>
        <div class="col-4">
            <p class="LessonTableP"><a
                    href="javascript:playSound('https://www.madinaharabic.com/Audios/L000/L000_065.mp3');"><span
                        class="a-22-black-b arabic-letter" dir="rtl"><span>رِ</span></span></a></p>
        </div>
        <div class="col-4">
            <p class="LessonTableP"><a
                    href="javascript:playSound('https://www.madinaharabic.com/Audios/L000/L000_074.mp3');"><span
                        class="a-22-black-b arabic-letter" dir="rtl"><span>زِ</span></span></a></p>
        </div>
        <div class="col-4">
            <p class="LessonTableP"><a
                    href="javascript:playSound('https://www.madinaharabic.com/Audios/L000/L000_073.mp3');"><span
                        class="a-22-black-b arabic-letter" dir="rtl"><span>سِ</span></span></a></p>
        </div>
        <div class="col-4">
            <p class="LessonTableP"><a
                    href="javascript:playSound('https://www.madinaharabic.com/Audios/L000/L000_072.mp3');"><span
                        class="a-22-black-b arabic-letter" dir="rtl"><span>شِ</span></span></a></p>
        </div>
        <div class="col-4">
            <p class="LessonTableP"><a
                    href="javascript:playSound('https://www.madinaharabic.com/Audios/L000/L000_071.mp3');"><span
                        class="a-22-black-b arabic-letter" dir="rtl"><span>صِ</span></span></a></p>
        </div>
        <div class="col-4">
            <p class="LessonTableP"><a
                    href="javascript:playSound('https://www.madinaharabic.com/Audios/L000/L000_070.mp3');"><span
                        class="a-22-black-b arabic-letter" dir="rtl"><span>ضِ</span></span></a></p>
        </div>
        <div class="col-4">
            <p class="LessonTableP"><a
                    href="javascript:playSound('https://www.madinaharabic.com/Audios/L000/L000_079.mp3');"><span
                        class="a-22-black-b arabic-letter" dir="rtl"><span>طِ</span></span></a></p>
        </div>
        <div class="col-4">
            <p class="LessonTableP"><a
                    href="javascript:playSound('https://www.madinaharabic.com/Audios/L000/L000_078.mp3');"><span
                        class="a-22-black-b arabic-letter" dir="rtl"><span>ظِ</span></span></a></p>
        </div>
        <div class="col-4">
            <p class="LessonTableP"><a
                    href="javascript:playSound('https://www.madinaharabic.com/Audios/L000/L000_077.mp3');"><span
                        class="a-22-black-b arabic-letter" dir="rtl"><span>عِ</span></span></a></p>
        </div>
        <div class="col-4">
            <p class="LessonTableP"><a
                    href="javascript:playSound('https://www.madinaharabic.com/Audios/L000/L000_076.mp3');"><span
                        class="a-22-black-b arabic-letter" dir="rtl"><span>غِ</span></span></a></p>
        </div>
        <div class="col-4">
            <p class="LessonTableP"><a
                    href="javascript:playSound('https://www.madinaharabic.com/Audios/L000/L000_075.mp3');"><span
                        class="a-22-black-b arabic-letter" dir="rtl"><span>فِ</span></span></a></p>
        </div>
        <div class="col-4">
            <p class="LessonTableP"><a
                    href="javascript:playSound('https://www.madinaharabic.com/Audios/L000/L000_084.mp3');"><span
                        class="a-22-black-b arabic-letter" dir="rtl"><span>قِ</span></span></a></p>
        </div>
        <div class="col-4">
            <p class="LessonTableP"><a
                    href="javascript:playSound('https://www.madinaharabic.com/Audios/L000/L000_083.mp3');"><span
                        class="a-22-black-b arabic-letter" dir="rtl"><span>كِ</span></span></a></p>
        </div>
        <div class="col-4">
            <p class="LessonTableP"><a
                    href="javascript:playSound('https://www.madinaharabic.com/Audios/L000/L000_082.mp3');"><span
                        class="a-22-black-b arabic-letter" dir="rtl"><span>لِ</span></span></a></p>
        </div>
        <div class="col-4">
            <p class="LessonTableP"><a
                    href="javascript:playSound('https://www.madinaharabic.com/Audios/L000/L000_081.mp3');"><span
                        class="a-22-black-b arabic-letter" dir="rtl"><span>مِ</span></span></a></p>
        </div>
        <div class="col-4">
            <p class="LessonTableP"><a
                    href="javascript:playSound('https://www.madinaharabic.com/Audios/L000/L000_080.mp3');"><span
                        class="a-22-black-b arabic-letter" dir="rtl"><span>نِ</span></span></a></p>
        </div>
        <div class="col-4">
            <p class="LessonTableP"><a
                    href="javascript:playSound('https://www.madinaharabic.com/Audios/L000/L000_087.mp3');"><span
                        class="a-22-black-b arabic-letter" dir="rtl"><span>هِـ</span></span></a></p>
        </div>
        <div class="col-4">
            <p class="LessonTableP"><a
                    href="javascript:playSound('https://www.madinaharabic.com/Audios/L000/L000_086.mp3');"><span
                        class="a-22-black-b arabic-letter" dir="rtl"><span>وِ</span></span></a></p>
        </div>
        <div class="col-4">
            <p class="LessonTableP"><a
                    href="javascript:playSound('https://www.madinaharabic.com/Audios/L000/L000_085.mp3');"><span
                        class="a-22-black-b arabic-letter" dir="rtl"><span>يِ</span></span></a></p>
        </div>
    </div>
</div>